<div class="card-panel">

  <div class="row center">
    <h4>Titulo</h4>
  </div>

  <div class="row">
    <img src="http://archives.materializecss.com/0.100.2/images/office.jpg" class="col s5">

    <div class="col s7">
      <span>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in
        other
        frameworks.
      </span>
    </div>
  </div>
  <hr />
  <div class="row">
    <!-- <div class="col s1">
      <a class="left" href="#"><i class="small material-icons">sentiment_very_satisfied</i></a>
    </div> -->
    <div class="col s1">
      <i class="brown-text small far fa-grin-alt"></i>
    </div>

    <div class="col s1">
      <i class="small far fa-grin-alt"></i>
    </div>

    <div class="col s1">
      <i class="small material-icons">content_copy</i>
    </div>
    <div class="col s1">
      <a href="#" class="">
        <i class="brown-text small far fa-grin-alt"></i>
      </a>
    </div>
  </div>
  <hr />
  <div class="card-panel">

  </div>
</div>