<div class="row"></div>
<div class="row">
  <div class="col m5 l5 hide-on-small-only">
    <img class="responsive-img" src="../../assets/img/error.png" alt="image">
  </div>

  <div class="col s12 m7 l7">
    <div class="box">
      <h4>Ingresar</h4>
      <form class="sign-form">
        <a href="/#/signup">No tengo una cuenta</a>
        <div class="section">
          <a class="btn btn-fb hide-on-med-and-down">
            <i class="fab fa-facebook"></i> Ingresar con Facebook
          </a>
          <a class="btn btn-fb hide-on-large-only">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="divider"></div>
        <div class="section">
          <input type="text" name="username" placeholder="Usuario">
          <input type="password" name="password" placeholder="Contrasena">
          <button class="btn waves-effect waves-ligth btn-signup" type="submit">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
