<app-header></app-header>

<div class="container">
  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large light-blue">
      <i class="material-icons">note_add</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

  <router-outlet></router-outlet>

  <div id="test1" class="col s12">Todo</div>
  <div id="test2" class="col s12">Notas</div>
  <div id="test3" class="col s12">Procesos</div>
  <div id="test4" class="col s12">Preguntas</div>
  <div id="test5" class="col s12">Errores</div>


  <app-card></app-card>
  
</div>
<app-footer></app-footer>