<!-- <nav>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Sigecon APP</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a *ngIf="expression" href="home">Inicio</a></li>
          <li><a  href="badges.html">Acerca de</a></li>
          <li><a href="#signup">Registrarse</a></li>
          <li><a href="#signin">Iniciar sesion</a></li>
        </ul>
      </div>
    </nav>
  </div>
</nav> -->

<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->

<!-- <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sigecon</h5>
        <p class="grey-text text-lighten-4">
          helping with your knowledge!!!
        </p>
        <button class="white-text waves-effect btn-flat waves-light btn" (click)="switchLanguage('en')">en</button>

        <button class="waves-effect white-text btn-flat waves-light btn" (click)="switchLanguage('es')">es</button>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">More kinsoft</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Sigecon-App
      <a class="grey-text text-lighten-4 right" href="#!">kinsoft</a>
    </div>
  </div>
</footer> -->