<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#/login">Iniciar Sesion</a></li>
      <li><a href="#/signup">Registrarse</a></li>
    </ul>
  </div>
</nav>

<div *ngIf="error" class="row" id="alert_box">
  <div class="col s12 m12">
    <div class="card red darken-1">
      <div class="row">
        <div class="col s12 m10">
          <div class="card-content white-text">
            {{error}}
          </div>
        </div>
        <div class="col s12 m2">
          <i class="fa fa-times icon_style" id="alert_close" (click)="closeAlert()" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="box">
        <br>
        <br>
        <br>
        <br>
        <h4>Ingresar</h4>
        <form class="sign-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <a href="/#/signup">No tengo una cuenta</a>
          <div class="section">
            <a class="btn btn-fb hide-on-med-and-down">
              <i class="fab fa-facebook"></i> Ingresar con Facebook
            </a>
            <a class="btn btn-fb hide-on-large-only">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="divider"></div>

          <div class="section">
            <div class="input-field">
              <input type="text" id="username" formControlName="username" name="username" class="validate"
                required="" />
              <label for="username" data-error="Ingrese un valor" data-success="">Usuario *</label>
            </div>

            <div class="input-field">
              <input type="password" id="password" formControlName="password" name="password" class="validate"
                required="" />
              <label for="password" data-error="Ingrese un valor" data-success="">Contrasena *</label>
            </div>

            <button [disabled]="loading" class="btn waves-effect waves-ligth" type="submit">
              <div *ngIf="loading" class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              Ingresar
            </button>
          </div>
        </form>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>