<div class="row"></div>
<div class="row">
  <div class="col m5 l5 hide-on-small-only">
    <img class="responsive-img" src="../../assets/img/error.png" alt="image">
  </div>

  <div class="col s12 m7 l7">
    <div class="box">
      <h4>Registrate</h4>
      <form class="sign-form" #frmSignup="ngForm" (ngSubmit)="addUser(frmSignup)">
        <a href="/#/signin">Ya tengo una cuenta</a>
        <div class="section">
          <a class="btn btn-fb hide-on-med-and-down">
            <i class="fab fa-facebook"></i> Registrarse con Facebook
          </a>
          <a class="btn btn-fb hide-on-large-only">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="divider"></div>
        <div class="section">
          <input type="email" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="userService.selectedUser.email">
          <input type="text" name="fullname" placeholder="Nombre Completo" #fullname="ngModel" [(ngModel)]="userService.selectedUser.fullname">
          <input type="text" name="username" placeholder="Usuario" #username="ngModel" [(ngModel)]="userService.selectedUser.username">
          <input type="password" name="password" placeholder="Contrasena" #password="ngModel" [(ngModel)]="userService.selectedUser.password">
          <input type="password" name="confirm" placeholder="Confirmar Contrasena">
          <button class="btn waves-effect waves-ligth" type="submit">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>