<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#/login">Iniciar Sesion</a></li>
      <li><a href="#/signup">Registrarse</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m12 l12">
      <br>
      <div class="box">
        <h4>Registrate</h4>
        <form class="sign-form" #frmSignup="ngForm">
          <a href="/#/login">Ya tengo una cuenta</a>
          <div class="section">
            <a class="btn btn-fb hide-on-med-and-down">
              <i class="fab fa-facebook"></i> Registrarse con Facebook
            </a>
            <a class="btn btn-fb hide-on-large-only">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="divider"></div>
          <div class="section">
            <div class="input-field">
              <input type="email" id="email" name="email" #email="ngModel" class="validate"
                [(ngModel)]="userService.selectedUser.email" required="">
              <label for="email" data-error="No es un correo electronico" data-success="">Email *</label>
            </div>

            <div class="input-field">
              <input type="text" id="fullname" name="fullname" #fullname="ngModel"
                [(ngModel)]="userService.selectedUser.fullname" class="validate" required="">
              <label for="fullname" data-error="Ingrese un valor" data-success="">Nombre Completo *</label>
            </div>

            <div class="input-field">
              <input type="text" id="username" name="username" #username="ngModel"
                [(ngModel)]="userService.selectedUser.username" class="validate" required="">
              <label for="username" data-error="Ingrese un valor" data-success="">Usuario *</label>
            </div>

            <div class="input-field">
              <input type="password" id="password" name="password" #password="ngModel"
                [(ngModel)]="userService.selectedUser.password" class="validate" required="">
              <label for="password" data-error="Ingrese un valor" data-success="">Contrasena *</label>
            </div>

            <div class="input-field">
              <input type="password" id="confirm" name="confirm" class="validate" [(ngModel)]="valPassword" required="">
              <label for="confirm" data-error="Ingrese un valor" data-success="">Verificar contrasena</label>
            </div>

            <div class="input-field">
              <button class="btn waves-effect waves-ligth" style="margin-right: 3%"
                (click)="resetForm(frmSignup)">Limpiar</button>

              <button [disabled]="loading" class="btn waves-effect waves-light" (click)="addUser(frmSignup)">
                <div *ngIf="loading" class="preloader-wrapper active">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
                Registrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>