<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sigecon</h5>
        <p class="grey-text text-lighten-4">
          helping with your knowledge!!!
        </p>
        <button class="white-text waves-effect btn-flat waves-light btn" (click)="switchLanguage('en')">en</button>

        <button class="waves-effect white-text btn-flat waves-light btn" (click)="switchLanguage('es')">es</button>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">More kinsoft</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Sigecon-App
      <a class="grey-text text-lighten-4 right" href="#!">kinsoft</a>
    </div>
  </div>
</footer>